In [27]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import pickle
#matplotlib inline

In [28]:
data=pd.read_csv('1000_Companies.csv')

In [29]:
data.head()

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

In [30]:
dum=pd.get_dummies(data['State'])

In [31]:
data.drop('State',axis=1,inplace=True)

In [32]:
data=pd.concat([data,dum],axis=1)

In [33]:
data.head()

,R&D Spend,Administration,Marketing Spend,Profit,California,Florida,New York
0,165349.20,136897.80,471784.10,192261.83,0,0,1
1,162597.70,151377.59,443898.53,191792.06,1,0,0
2,153441.51,101145.55,407934.54,191050.39,0,1,0
3,144372.41,118671.85,383199.62,182901.99,0,0,1
4,142107.34,91391.77,366168.42,166187.94,0,1,0

In [14]:
## Standardizaton

In [36]:
target=data['Profit']
features=data.drop('Profit',axis=1)

In [37]:
features

     R&D Spend  Administration  Marketing Spend  California  Florida  New York
0    165349.20      136897.800      471784.1000           0        0         1
1    162597.70      151377.590      443898.5300           1        0         0
2    153441.51      101145.550      407934.5400           0        1         0
3    144372.41      118671.850      383199.6200           0        0         1
4    142107.34       91391.770      366168.4200           0        1         0
..         ...             ...              ...         ...      ...       ...
995   54135.00      118451.999      173232.6695           1        0         0
996  134970.00      130390.080      329204.0228           1        0         0
997  100275.47      241926.310      227142.8200           1        0         0
998  128456.23      321652.140      281692.3200           1        0         0
999  161181.72      270939.860      295442.1700           0        0         1

[1000 rows x 6 columns]

In [38]:
from sklearn.preprocessing import StandardScaler

In [39]:
scaler=StandardScaler()

In [40]:
scaler.fit(features)

StandardScaler()

In [42]:
scaled_data=scaler.transform(features)

In [44]:
data=pd.DataFrame(scaled_data,columns=features.columns)

## Train Test Split

In [46]:
from sklearn.model_selection import train_test_split

In [47]:
x_train,x_test,y_train,y_test=train_test_split(data,target,test_size=0.30)

## Using LinearRegression

In [48]:
from sklearn.linear_model import LinearRegression

In [49]:
model=LinearRegression()

In [50]:
model.fit(x_train,y_train)

LinearRegression()

In [59]:
predictions=model.predict(x_test)

## Model Evaluation

In [61]:
from sklearn.metrics import r2_score

In [63]:
print(r2_score(y_test,predictions)*100)

91.50326618291079